.latestSectionTitle {
    margin-bottom: 53px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 48px;
}

.latestSectionTitle span {
    color: #1A0B5B;
    font-size: 42px;
    font-weight: 700;
}

.latestSection {
    margin-bottom: 58px;
}

.loadingSpin {
    display: flex;
    justify-content: center;
    align-items: center;
}